<div class="home_container">
    <app-card
    gameCover="https://cdn.awsli.com.br/800x800/2479/2479795/produto/179813604/tomb-raider-digital-edition-ps3-midia-digital-d38ffe30.jpg"
    gameLabel="Digital"
    gameType="DIGITAL | Only PS4"
    gamePrice="R$ 129,99">
    
    
    </app-card>

    <app-card
    gameCover="https://m.media-amazon.com/images/I/614fH+Lwa9L._AC_UF1000,1000_QL80_.jpg"
    gameLabel="Exclusive"
    gameType="DIGITAL MEDIA | Only PS5"
    gamePrice="R$ 399,99">


    </app-card>

    <app-card
    gameCover="https://http2.mlstatic.com/D_849593-MLU77336639912_072024-C.jpg"
    gameLabel="Digital"
    gameType="DIGITAL| MEDIA DISC | Only PS4"
    gamePrice="R$ 129,99">

    </app-card>

    <app-card
    gameCover="https://http2.mlstatic.com/D_849593-MLU77336639912_072024-C.jpg"
    gameLabel="Digital"
    gameType="DIGITAL| MEDIA DISC | Only PS4"
    gamePrice="R$ 129,99">

    </app-card>
</div>
